:host {
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: column;
        .comments {
            display: flex;
            flex-direction: column;
        }
    }
}